<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Rotas</a>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
        <a class="nav-link" routerLinkActive="active" routerLink="login">Login</a>
        <a class="nav-link" routerLinkActive="active" routerLink="materias" [queryParams]="{pagina:1}">Matérias</a>
        <!--a class="nav-link" routerLinkActive="active" [routerLink]="['materia', idMateria.value]">Matéria com Id</a-->
        <a class="nav-link" routerLinkActive="active" routerLink="professores">Professores</a>
      </div>
    </div>
  </div>
</nav>

<div class="container pt-3">

  <!-- <p>Insira o ID da matéria</p>
  <input #idMateria> -->

  <router-outlet></router-outlet>
</div>

