<section class="two-way-binding">
    <article>
        <h3>Two-way data binding</h3>

        <div>
            <input type="text"
                [value]="nome"
                (input)="nome = input.value"
                #input />

            <p>Voce digitou {{ nome }}</p>

            <br><br>

            
            <input type="text"
            [(ngModel)]="pessoa.nome" />

            <input type="text"
            [(ngModel)]="pessoa.idade" />
            
            <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade.</p>
        </div>
    </article>
</section>